<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">

    <display-name>Common Middleware Components Web Services</display-name>

    <distributable />

    <servlet>
        <servlet-name>HPFWServlet</servlet-name>
        <servlet-class>hk.gov.cmc.webserver.servlet.HPFWServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CmcSysParamServlet</servlet-name>
        <servlet-class>hk.gov.cmc.webserver.servlet.CmcSysParamServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GenAdminBatchReportServlet</servlet-name>
        <servlet-class>hk.gov.cmc.webserver.servlet.GenAdminBatchReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegenerateAdminBatchReportServlet</servlet-name>
        <servlet-class>hk.gov.cmc.webserver.servlet.RegenerateAdminBatchReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainMessageService</servlet-name>
        <servlet-class>hk.gov.cmc.webserver.soap.MaintainMessageSoapProvider</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>HPFWServlet</servlet-name>
        <url-pattern>/servlet/HPFWServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmcSysParamServlet</servlet-name>
        <url-pattern>/servlet/CmcSysParamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenAdminBatchReportServlet</servlet-name>
        <url-pattern>/servlet/GenAdminBatchReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegenerateAdminBatchReportServlet</servlet-name>
        <url-pattern>/servlet/RegenerateAdminBatchReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainMessageService</servlet-name>
        <url-pattern>/services/MaintainMessageService</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <mime-mapping>
        <extension>wsdl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>xsd</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>services</web-resource-name>
            <url-pattern>/services/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>xmlfw-rpc</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>RequireCertificateDomain</realm-name>
    </login-config>

    <security-role>
        <role-name>xmlfw-rpc</role-name>
    </security-role>

    <env-entry>
        <env-entry-name>COMMON_PROPERTIES_FILENAME</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value><![CDATA[/config/common_app.properties]]></env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>APP_PROPERTIES_FILENAME</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value><![CDATA[/config/cmc/cmc_app.properties]]></env-entry-value>
    </env-entry>

</web-app>